<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated objinst -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="objinst.presentation.ObjinstModelWizardID"
            name="%_UI_ObjinstModelWizard_label"
            class="objinst.presentation.ObjinstModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ObjinstModelFile.gif">
         <description>%_UI_ObjinstModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated objinst -->
      <editor
            id="objinst.presentation.ObjinstEditorID"
            name="%_UI_ObjinstEditor_label"
            icon="icons/full/obj16/ObjinstModelFile.gif"
            extensions="objinst"
            class="objinst.presentation.ObjinstEditor"
            contributorClass="objinst.presentation.ObjinstActionBarContributor">
      </editor>
   </extension>

</plugin>
