<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="man.em.nik.objinst.design.Activator"
               id="man.em.nik.objinst.design"
	       name="objinst">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="man.em.nik.objinst.design.SourceViewRecorder"
           id="man.em.nik.objinst.design.SourceViewRecorderID">
     </javaActions>
  </extension>
</plugin>
